Data Science Fundamentals: R |
[Table of Contents](../index.ipynb)
- - - 
<!--NAVIGATION-->
Module 15. [Date Time Values](./00.ipynb) | [readr](./01.ipynb) | [dplyr](./02.ipynb) | [Exercises](./03.ipynb)

# Data Transformation with R

## Exercises

In [1]:
library(tidyverse)
library(readxl)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### Exercise 1. 

List all example files available with the ```readr``` library.

In [3]:
readr_example(file = NULL)

 [1] "challenge.csv"         "chickens.csv"          "epa78.txt"
 [4] "example.log"           "fwf-sample.txt"        "massey-rating.txt"
 [7] "mtcars.csv"            "mtcars.csv.bz2"        "mtcars.csv.zip"
[10] "whitespace-sample.txt"

### Exercise 2.

Read the mtcars.csv file.

In [17]:
path  <- readr_example("mtcars.csv")
mtcars  <- read_csv(path, col_types = cols(
  mpg = col_double(),
  cyl = col_double(),
  disp = col_double(),
  hp = col_double(),
  drat = col_double(),
  wt = col_double(),
  qsec = col_double(),
  vs = col_double(),
  am = col_double(),
  gear = col_double(),
  carb = col_double()
))

mtcars

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4
11 17.8 6   167.6 123 3.92 3.440 18.90 1  0  4    4
12 16.4 8   275.8 180 3.07 4.070 17.40 0  0  3    3
13 17.3 8   275.8 180 3.07 3.730 17.60 0  0  3    3
14 15.2 8   275.8 180 3.07 3.780 18.00 0  0  3    3
15 10.4 8   472.0 205 2.93 5.250 17.98 0  0  3    4
16 10.4 8   460.0 215 3.00 5.424 17.82 0  0  3    4
17 14.7 8   440.0 230 3.23 5.345 17.42 0  0  3    4
18 32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1
19 30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2
20 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1
21 21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1
22 15.5 8   318.0 150 2.76 3.520 16.87 0  0  3    2
23 15.2 8   304.0 150 3.15 3.435 17.30 0  0  3    2
24 13.3 8   350.0 245 3.73 3.840 15.41 0  0  3    4
25 19.2 8   400.0 175 3.08 3.845 17.05 0  0  3    2
26 27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1
27 26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2
28 30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2
29 15.8 8   351.0 264 4.22 3.170 14.50 0  1  5    4
30 19.7 6   145.0 175 3.62 2.770 15.50 0  1  5    6
31 15.0 8   301.0 335 3.54 3.570 14.60 0  1  5    8
32 21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2

### Exercise 3.

Read the first 10 lines from the mtcars.csv file.

In [15]:
mtcars[1:10,]

   mpg  cyl disp  hp  drat wt    qsec  vs am gear carb
1  21.0 6   160.0 110 3.90 2.620 16.46 0  1  4    4
2  21.0 6   160.0 110 3.90 2.875 17.02 0  1  4    4
3  22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1
4  21.4 6   258.0 110 3.08 3.215 19.44 1  0  3    1
5  18.7 8   360.0 175 3.15 3.440 17.02 0  0  3    2
6  18.1 6   225.0 105 2.76 3.460 20.22 1  0  3    1
7  14.3 8   360.0 245 3.21 3.570 15.84 0  0  3    4
8  24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2
9  22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2
10 19.2 6   167.6 123 3.92 3.440 18.30 1  0  4    4


### Exercise 4
Read the example.log file.

In [23]:
path_log  <- readr_example("example.log")
log  <- read_log(path_log, col_types = cols(
  X1 = col_character(),
  X2 = col_logical(),
  X3 = col_character(),
  X4 = col_character(),
  X5 = col_character(),
  X6 = col_double(),
  X7 = col_double()
))
log

  X1           X2 X3                 X4
1 172.21.13.45 NA Microsoft\\JohnDoe 08/Apr/2001:17:39:04 -0800
2 127.0.0.1    NA frank              10/Oct/2000:13:55:36 -0700
  X5                                               X6  X7
1 GET /scripts/iisadmin/ism.dll?http/serv HTTP/1.0 200 3401
2 GET /apache_pb.gif HTTP/1.0                      200 2326

### Exercise 5
List all sheets in readxl_example("datasets.xlsx").

In [24]:
install.packages("readxl")

The downloaded binary packages are in
	/var/folders/wg/n3_xmx_9117bptv0c99cb2d40000gp/T//Rtmps6OT4r/downloaded_packages

In [26]:
library(readxl)
readxl_example()

 [1] "clippy.xls"    "clippy.xlsx"   "datasets.xls"  "datasets.xlsx"
 [5] "deaths.xls"    "deaths.xlsx"   "geometry.xls"  "geometry.xlsx"
 [9] "type-me.xls"   "type-me.xlsx"

### Exercise 6
Read data from the last sheet.

In [64]:
path_exc  <-  readxl_example('type-me.xlsx')
type_me  <-  read_excel(path_exc)
type_me

   maybe boolean? description
1  NA             empty
2  0              0 (numeric)
3  1              1 (numeric)
4  40908          datetime
5  TRUE           boolean true
6  FALSE          boolean false
7  cabbage        "cabbage"
8  true           the string "true"
9  F              the letter "F"
10 False          "False" preceded by single quote

### Exercise 7
Load the dplyr package. Install and load the AER package and run the command data("Fertility") which loads the dataset Fertility to your workspace. Take a glimpse() at the data.

In [29]:
library(dplyr)

In [30]:
install.packages("AER")

also installing the dependencies ‘rprojroot’, ‘diffobj’, ‘brio’, ‘desc’, ‘pkgload’, ‘praise’, ‘waldo’, ‘Matrix’, ‘testthat’, ‘numDeriv’, ‘SparseM’, ‘MatrixModels’, ‘sp’, ‘minqa’, ‘nloptr’, ‘RcppEigen’, ‘carData’, ‘abind’, ‘pbkrtest’, ‘quantreg’, ‘maptools’, ‘lme4’, ‘car’, ‘lmtest’, ‘sandwich’, ‘zoo’, ‘Formula’

The downloaded binary packages are in
	/var/folders/wg/n3_xmx_9117bptv0c99cb2d40000gp/T//Rtmps6OT4r/downloaded_packages

In [31]:
library(AER)

Loading required package: car

Loading required package: carData


Attaching package: ‘car’


The following object is masked from ‘package:dplyr’:

    recode


The following object is masked from ‘package:purrr’:

    some


Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

In [39]:
data("Fertility") 
glimpse(Fertility)

Rows: 254,654
Columns: 8
$ morekids <fct> no, no, no, no, no, no, no, no, no, no, yes, no, no, no, no, …
$ gender1  <fct> male, female, male, male, female, male, female, male, female,…
$ gender2  <fct> female, male, female, female, female, female, male, male, mal…
$ age      <int> 27, 30, 27, 35, 30, 26, 29, 33, 29, 27, 28, 28, 35, 34, 32, 2…
$ afam     <fct> no, no, no, yes, no, no, no, no, no, no, no, no, no, no, no, …
$ hispanic <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, n…
$ other    <fct> no, no, no, no, no, no, no, no, no, no, no, no, no, no, no, n…
$ work     <int> 0, 30, 0, 0, 22, 40, 0, 52, 0, 0, 0, 52, 52, 52, 8, 7, 0, 40,…

### Exercise 8
Select rows 35 to 50 and print to console its age and work entry.

In [41]:
Fertility[35:50, c("age", "work")]

   age work
35 28  20
36 33  12
37 32   0
38 26  52
39 32  52
40 28   0
41 32  40
42 35   0
43 33   0
44 32  42
45 29   0
46 29  52
47 31   0
48 30  51
49 28   0
50 29   0

### Exercise 9
Select the last row in the dataset and print to console.

In [43]:
tail(Fertility, n = 1)

       morekids gender1 gender2 age afam hispanic other work
254654 yes      female  female  35  no   no       no    0

### Exercise 10
Count how many women proceeded to have a third child.

In [65]:
morekids  <-  filter(Fertility, morekids == "yes")
nrow(morekids)

[1] 96912

### Exercise 11
There are four possible gender combinations for the first two children. Which is the most common?

In [66]:
mm  <-  nrow(filter(Fertility, gender1 == "male" & gender2 == "male"))
mf  <-  nrow(filter(Fertility, gender1 == "male" & gender2 == "female"))
fm  <-  nrow(filter(Fertility, gender1 == "female" & gender2 == "male"))
ff  <-  nrow(filter(Fertility, gender1 == "female" & gender2 == "female"))
result  <-  data.frame(row.names = c("male, male", "male, female", "female, male", "female, female"),
                   amount = c(mm, mf, fm, ff))

result[order("amount")]
# male male is the most common

               amount
male, male     67799
male, female   63185
female, male   62724
female, female 60946